body {
	background-color: seashell;
	font-family: 'Courier New', monospace;
}
.answer {
	visibility: hidden;
	background-color: Pink;
	line-height: 1.2;
	text-indent: 50px;
	display: grid;
}
.question {
	line-height: 1.5;
}
.hint {
	visibility: hidden;
}